dataSource:
  dbCreate: none
  url: "jdbc:mysql://{{ DB_HOST }}:{{ DB_PORT|default(3306) }}/{{ DB_NAME }}?zeroDateTimeBehavior=convertToNull&serverTimezone=UTC"
  driverClassName: com.mysql.cj.jdbc.Driver
  dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  username: "{{ DB_USER }}"
  password: "{{ DB_PASSWORD }}"
  properties:
    jmxEnabled: true
    initialSize: 5
    maxActive: 50
    minIdle: 5
    maxIdle: 25
    maxWait: 10000
    maxAge: 600000
    timeBetweenEvictionRunsMillis: 5000
    minEvictableIdleTimeMillis: 60000
    validationQuery: "SELECT 1"
    validationQueryTimeout: 3
    validationInterval: 15000
    testOnBorrow: true
    testWhileIdle: true
    testOnReturn: false
    jdbcInterceptors: "ConnectionState;StatementCache(max=200)"
grails:
  plugin:
    springsecurity:
      rest:
        token:
          storage:
            jwt:
              secret: '{{ GRAILS_JWT_SECRET }}'
            password:
              algorithm: 'bcrypt'
  mail:
    host: '{{ GRAILS_MAIL_HOST}}'
    port: {{ GRAILS_MAIL_PORT}}
    username: '{{ GRAILS_MAIL_USERNAME }}'
    password: '{{ GRAILS_MAIL_PASSWORD }}'
    from: '{{ GRAILS_MAIL_FROM }}'
    props:
      mail.smtp.auth: '{{ GRAILS_MAIL_SMTP_AUTH }}'
      mail.smtp.socketFactory.port: '{{ GRAILS_MAIL_SMTP_SOCKET_FACTORY_PORT }}'
      mail.smtp.socketFactory.class: "javax.net.ssl.SSLSocketFactory"
      mail.smtp.socketFactory.fallback: "true"
      mail.smtp.starttls.enable: {{ GRAILS_SMTP_STARTTLS|default('false') }}
initialAdminUser:
  email: '{{ INIT_ADMIN_EMAIL|default('admin@example.org') }}'
  password: '{{ INIT_ADMIN_PASSWORD|default('admin')}}'
appName: '{{ GRAILS_APP_NAME }}'
emailFooter: '{{ GRAILS_EMAIL_FOOTER }}'
resetPasswordByUserLink: '{{ GRAILS_APP_BASE_URL }}/resetPassword/'
setPasswordNewUserLink: '{{ GRAILS_APP_BASE_URL }}/register/'
